# The number of milliseconds of each tick
#心跳检测
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
#leader--follow 刚上线建立通信连接的时候不能超过10个心跳数的时间
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
#集群起来之后 节点之间的通信 不能超过5个心跳数的链接
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
#数据存放的目录
dataDir=/usr/local/zookeeper-3.4.13/zkData
# the port at which the clients will connect
#客户端连接的端口
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
